*{padding: 0; 
    margin: 0}
   
   body{
       background-image: url(../img/k18.jpg);
       background-size: 100%;
       background-repeat: no-repeat;
   
   }
   header{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    opacity: 70%;
    
}
   .logo{
    height:70px;
    width: 140px;
    margin-left: 100px;
    margin-top: 6px;
    float: left;
}

.rrss{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.icon{
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-right: 20px;
}



.titulo1{
    font-size: 30px;
    color: rgb(219, 64, 37);
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.hijo2{
   
   font-size: 20px;
    color: #241f20;
font-family:  'Archivo', sans-serif;
text-align: center;
padding-top: 20px;
padding-bottom: 50px;

}


.kbio{
    height: 200px;
    width: 250px;
    border-style: outset;
    border-radius: 5px;
}

.nombre{
    background-color: rgb(219, 64, 37);
    padding: 2px;
}

.padreFlex2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 40px;
    text-justify: center;
}

.disco{
    width: 150px;
    height: 150px;
}
.disco:hover{
    width: 200px;
    height: 200px;
}

.discos{
    margin-top: 10px;
    font-size: 15px;
    color: #241f20;
font-family:  'Archivo', sans-serif;
background-color: rgb(219, 64, 37);

text-align: center;
}

.titulo2{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(219, 64, 37);
    font-family: 'Archivo Black', sans-serif;
}

.frase{
    text-align: center;
    margin-top: 500px;
    
}

.cita{
    font-size: 30px;
    color: #ece6e7;
    font-family: 'Archivo Black', sans-serif;
}

.apa{
    color: #ece6e7;
    
    font-family:  'Archivo', sans-serif;
    margin-top: 20px;
}


footer{
    margin-top: 80px;
    background-color: #000000;
    opacity: 50%;
    color: #ece6e7;
    font-family:  'Archivo', sans-serif;
    height: 50px;
}

.foot{
    display: inline-flex;
    column-gap: 400px;
    margin-left: 70px;
    margin-top: 15px;
}





@media (min-width: 990px) and (max-width:1200px){
body{
    background-color: #000000;
    width: 75%;
}

.icon{
    margin-top: 10px;
}
header{
    width: 100%;
    height: 60px;
}
.logo{
    width: 80px;
    height: 40px;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
}

.foot{
    display: inline-flex;
    column-gap: 10px;
    margin-left: 5px;
}

.titulo1{
    font-size:  25px;
    color: rgb(219, 64, 37);
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
}

.padreFlex2{
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.hijo2{
    font-size: 20px;
    color: #241f20;
font-family:  'Archivo', sans-serif;
text-align: center;
margin-bottom: 5px;
padding-bottom: 50px;

}
.nombre{
    background-color: none;
}

}
    

@media (min-width: 581px) and (max-width:989px){
    body{
        background-color: #000000;
        
    }
    
}

@media (max-width:580px){
    body{
        background-color: #000000;
    }
}